<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cool.dao.WxArticleMapper">
	<resultMap type="com.cool.model.WxArticle" id="resultMap">
		<id column="id" property="id"/>
		<result column="article_count" property="articleCount"/>
		<result column="title" property="title"/>
		<result column="description" property="description"/>
		<result column="enable" property="enable"/>
		<result column="remark" property="remark"/>
		<result column="create_by" property="createBy"/>
		<result column="create_time" property="createTime"/>
		<result column="update_by" property="updateBy"/>
		<result column="update_time" property="updateTime"/>
	</resultMap>
	<sql id="allFields">
	id,
				article_count,
				title,
				description,
	enable,remark,create_by,create_time,update_by,update_time
	</sql>
	<insert id="insert" parameterType="Object">
		insert into wx_article
		<trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="id != null">
				id,
			</if>
			<if test="articleCount != null">
				article_count,
			</if>
			<if test="title != null and title != ''">
				title,
			</if>
			<if test="description != null and description != ''">
				description,
			</if>
			<if test="enable != null">
				 enable,
			</if>
			<if test="remark != null and remark != ''">
				remark,
			</if>
			<if test="createBy != null and createBy != ''">
				create_by,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
		</trim>
		values 
		<trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="id != null">
				#{id},
			</if>
			<if test="articleCount != null">
				#{articleCount},
			</if>
			<if test="title != null and title != ''">
				#{title},
			</if>
			<if test="description != null and description != ''">
				#{description},
			</if>
			<if test="enable != null">
				 #{enable},
			</if>
			<if test="remark != null and remark != ''">
				#{remark},
			</if>
			<if test="createBy != null and createBy != ''">
				#{createBy},
			</if>
			<if test="createTime != null">
				#{createTime},
			</if>
		</trim>
	</insert>
	<!-- 删除记录 -->
	<delete id="deleteByPrimaryKey" parameterType="Object">
		delete from wx_article where id = #{id}
	</delete>

	<!-- 根据id查询 -->
	<select id="selectByPrimaryKey"  resultMap="resultMap" parameterType="java.lang.Long">
		select <include refid="allFields" />
		 from wx_article
		 where id = #{id}
	</select>

	<!-- 列表总数-->
	<select id="query" resultType="java.lang.Long"  parameterType="Object">
		select id from wx_article
		<include refid="whereSql"></include>
	</select>
	<!-- 分页查询 -->
	<select id="queryForList" parameterType="Object" resultMap="resultMap">
		select <include refid="allFields"></include> 
		from wx_article
		<include refid="whereSql"></include>
	</select>
	
	<delete id="deleteAllByPrimaryKey" parameterType="Object">
		delete from wx_article
		where id in
		<foreach item="id" collection="list" open="(" close=")" separator=",">
             #{id}
        </foreach>
	</delete>

	<update id="updateByPrimaryKey" parameterType="Object">
		update wx_article
		<trim prefix="set" suffixOverrides=",">
			<if test="articleCount != null">
				article_count = #{articleCount},
			</if>
			<if test="title != null and title != ''">
				title = #{title},
			</if>
			<if test="description != null and description != ''">
				description = #{description},
			</if>
			
			<if test="enable != null">
				<![CDATA[ enable = #{enable},]]>
			</if>
			
			<if test="remark != null and remark != '' ">
				<![CDATA[ remark = #{remark},]]>
			</if>
			
			<if test="updateBy != null and updateBy != '' ">
				<![CDATA[ update_by = #{updateBy},]]>
			</if>
			
			<if test="updateTime != null">
				<![CDATA[ update_time = #{updateTime},]]>
			</if>
		</trim>
		where id = #{id}
	</update>
	
	<update id="updateAllByPrimaryKey" parameterType="Object">
		update wx_article
		<trim prefix="set" suffixOverrides=",">
		    <if test="enable != null " >
		  	<![CDATA[  enable = #{enable}, ]]>
		    </if>
		    <if test="updateBy != null and updateBy != '' " >
		  	<![CDATA[  update_by = #{updateBy}, ]]>
		    </if>
		    <if test="updateTime != null " >
		  	<![CDATA[  update_time = #{updateTime}, ]]>
		    </if>
		</trim>
	    where id in
		<foreach item="id" index="index" collection="ids" open="(" separator="," close=")">
		    #{id }
		</foreach>
	</update>
	
	<sql id="whereSql">
		<where>
			1=1
			<if test="id != null">
				and id = #{id}
			</if>
			<if test="articleCount != null">
				and article_count = #{articleCount}
			</if>
			<if test="title != null and title != ''">
				and title = #{title}
			</if>
			<if test="description != null and description != ''">
				and description = #{description}
			</if>
			<if test="enable != null">
				and enable = #{enable}
			</if>
		</where>
	</sql>
</mapper>