<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cool.dao.SysParamMapper">
	<resultMap type="com.cool.model.SysParam" id="resultMap">
		<id column="id" property="id"/>
		<result column="param_key" property="paramKey"/>
		<result column="param_value" property="paramValue"/>
		<result column="enable" property="enable"/>
		<result column="remark" property="remark"/>
		<result column="create_by" property="createBy"/>
		<result column="create_time" property="createTime"/>
		<result column="update_by" property="updateBy"/>
		<result column="update_time" property="updateTime"/>
	</resultMap>
	<sql id="allFields">
	id,param_key,param_value,enable,remark,create_by,create_time,update_by,update_time
	</sql>
	<insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="Object">
		insert into sys_param
		<trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="id != null">
				id,
			</if>
			<if test="paramKey != null and paramKey != ''">
				 param_key,
			</if>
			<if test="paramValue != null and paramValue != ''">
				 param_value,
			</if>
			<if test="enable != null">
				 enable,
			</if>
			<if test="remark != null and remark != ''">
				remark,
			</if>
			<if test="createBy != null and createBy != ''">
				create_by,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
		</trim>
		values 
		<trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="id != null">
				#{id},
			</if>
			<if test="paramKey != null and paramKey != ''">
				 #{paramKey},
			</if>
			<if test="paramValue != null and paramValue != ''">
				 #{paramValue},
			</if>
			<if test="enable != null">
				 #{enable},
			</if>
			<if test="remark != null and remark != ''">
				#{remark},
			</if>
			<if test="createBy != null and createBy != ''">
				#{createBy},
			</if>
			<if test="createTime != null">
				#{createTime},
			</if>
		</trim>
	</insert>
	<!-- 删除记录 -->
	<delete id="deleteByPrimaryKey" parameterType="Object">
		delete from sys_param where id = #{id}
	</delete>

	<!-- 根据id查询 -->
	<select id="selectByPrimaryKey"  resultMap="resultMap" parameterType="java.lang.Long">
		select <include refid="allFields" />
		 from sys_param
		 where id = #{id}
	</select>

	<!-- 列表总数-->
	<select id="query" resultType="java.lang.Long"  parameterType="Object">
		select id from sys_param
		<include refid="whereSql"></include>
	</select>
	<!-- 分页查询 -->
	<select id="queryForList" parameterType="Object" resultMap="resultMap">
		select <include refid="allFields"></include> 
		from sys_param
		<include refid="whereSql"></include>
	</select>
	
	<select id="querySysParam" parameterType="Object" resultMap="resultMap">
		select <include refid="allFields"></include> 
		from sys_param
		<include refid="whereSql"></include>
	</select>
	
	<select id="queryByKey" parameterType="Object" resultMap="resultMap">
		select <include refid="allFields"></include> 
		from sys_param
		where param_key = #{paramKey} and enable = 0
	</select>
	
	<delete id="deleteAllByPrimaryKey" parameterType="Object">
		delete from sys_param
		where id in
		<foreach item="id" collection="list" open="(" close=")" separator=",">
             #{id}
        </foreach>
	</delete>

	<update id="updateByPrimaryKey" parameterType="Object">
		update sys_param
		<trim prefix="set" suffixOverrides=",">
			<if test="paramKey != null and paramKey != '' ">
				<![CDATA[ param_key = #{paramKey}, ]]>
			</if>
			
			<if test="paramValue != null and paramValue != '' ">
				<![CDATA[ param_value = #{paramValue}, ]]>
			</if>
			
			<if test="enable != null">
				<![CDATA[ enable = #{enable},]]>
			</if>
			
			<if test="remark != null and remark != '' ">
				<![CDATA[ remark = #{remark},]]>
			</if>
			
			<if test="updateBy != null and updateBy != '' ">
				<![CDATA[ update_by = #{updateBy},]]>
			</if>
			
			<if test="updateTime != null">
				<![CDATA[ update_time = #{updateTime},]]>
			</if>
		</trim>
		where id = #{id}
	</update>
	
	<update id="updateAllByPrimaryKey" parameterType="Object">
		update sys_param
		<trim prefix="set" suffixOverrides=",">
		    <if test="enable != null " >
		  	<![CDATA[  enable = #{enable}, ]]>
		    </if>
		    <if test="updateBy != null and updateBy != '' " >
		  	<![CDATA[  update_by = #{updateBy}, ]]>
		    </if>
		    <if test="updateTime != null " >
		  	<![CDATA[  update_time = #{updateTime}, ]]>
		    </if>
		</trim>
	    where id in
		<foreach item="id" index="index" collection="ids" open="(" separator="," close=")">
		    #{id }
		</foreach>
	</update>
	
	<sql id="whereSql">
		<where>
			1=1
			<if test="id != null">
				and id = #{id}
			</if>
			<if test="paramKey != null and paramKey != ''">
				and param_key = #{paramKey}
			</if>
			<if test="paramValue != null and paramValue != ''">
				and param_value = #{paramValue}
			</if>
			<if test="enable != null">
				and enable = #{enable}
			</if>
			<if test="remark != null">
				and remark = #{remark}
			</if>
		</where>
	</sql>
</mapper>