<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cool.dao.SysUserMapper">
	<resultMap type="com.cool.model.SysUser" id="resultMap">
		<id column="id" property="id"/>
		<result column="account" property="account"/>
		<result column="password" property="password"/>
		<result column="user_type" property="userType"/>
		<result column="user_name" property="userName"/>
		<result column="name_pinyin" property="namePinyin"/>
		<result column="sex" property="sex"/>
		<result column="avatar" property="avatar"/>
		<result column="phone" property="phone"/>
		<result column="email" property="email"/>
		<result column="id_card" property="idCard"/>
		<result column="wei_xin" property="weiXin"/>
		<result column="wei_bo" property="weiBo"/>
		<result column="qq" property="qq"/>
		<result column="birth_day" property="birthDay"/>
		<result column="dept_id" property="deptId"/>
		<result column="position" property="position"/>
		<result column="address" property="address"/>
		<result column="staff_no" property="staffNo"/>
		<result column="enable" property="enable"/>
		<result column="remark" property="remark"/>
		<result column="create_by" property="createBy"/>
		<result column="create_time" property="createTime"/>
		<result column="update_by" property="updateBy"/>
		<result column="update_time" property="updateTime"/>
	</resultMap>
	
	<sql id="allFields">
		id,account,password,user_type,user_name,name_pinyin,sex,avatar,phone,
		email,id_card,wei_xin,wei_bo,qq,birth_day,dept_id,position,address,
		staff_no,enable,remark,create_by,create_time,update_by,update_time
	</sql>

	<select id="queryUserByName" parameterType="Object" resultMap="resultMap">
		select 
			<include refid="allFields"></include>
		from sys_user 
			<include refid="whereSql"></include>
	</select>
	
	<insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="Object">
		insert into sys_user 
		<trim prefix="(" suffix=")" suffixOverrides="," >
				<if test="account != null and account != ''">
					account,
				</if>
				<if test="avatar != null and avatar != '' ">
					avatar,
				</if>
				<if test="password != null and password != ''">
					password,
				</if>
				<if test="userName != null and userName != ''">
					user_name,
				</if>
				<if test="phone != null and phone != ''">
					phone,
				</if>
				<if test="email != null and email != ''">
					email,
				</if>
				<if test="sex != null">
					sex,
				</if>
				<if test="userType != null">
					user_type,
				</if>
				<if test="enable != null">
					enable,
				</if>
				<if test="remark != null and remark != ''">
					remark,
				</if>
				<if test="createBy != null and createBy != ''">
					create_by,
				</if>
				<if test="createTime != null">
					create_time,
				</if>
			</trim>		
		values 
		<trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="account != null and account != ''">
					#{account},
				</if>
				<if test="avatar != null and avatar != '' ">
					#{avatar},
				</if>
				<if test="password != null and password != ''">
					#{password},
				</if>
				<if test="userName != null and userName != ''">
					#{userName},
				</if>
				<if test="phone != null and phone != ''">
					#{phone},
				</if>
				<if test="email != null and email != ''">
					#{email},
				</if>
				<if test="sex != null">
					#{sex},
				</if>
				<if test="userType != null">
					#{userType},
				</if>
				<if test="enable != null">
					#{enable},
				</if>
				<if test="remark != null and remark != ''">
					#{remark},
				</if>
				<if test="createBy != null and createBy != ''">
					#{createBy},
				</if>
				<if test="createTime != null">
					#{createTime},
				</if>
		</trim>
	</insert>
	
	<!-- 删除记录 -->
	<delete id="deleteByPrimaryKey" parameterType="Object">
		delete from sys_user where id = #{id}
	</delete>
	
	<!-- 根据id查询 -->
	<select id="selectByPrimaryKey"  resultMap="resultMap" parameterType="java.lang.Long">
		select <include refid="allFields" />
		 from sys_user where id = #{id}
	</select>
	
	<!-- 列表总数-->
	<select id="query" resultType="java.lang.Long"  parameterType="Object">
		select id from sys_user
		<include refid="whereSql"></include>
	</select>
	
	<select id="queryForList" parameterType= "Object" resultMap="resultMap">
		select 
			<include refid="allFields"></include>
		from sys_user 
			<include refid="whereSql"></include>
	</select>
	
	<delete id="deleteAllByPrimaryKey" parameterType="Object">
		delete from sys_user
		where id in
		<foreach item="id" collection="list" open="(" close=")" separator=",">
             #{id}
        </foreach>
	</delete>
	
	<update id="updateByPrimaryKey" parameterType="Object">
		update sys_user
		<trim prefix="set" suffixOverrides=",">
			<if test="password != null and password != '' ">
				<![CDATA[ password = #{password}, ]]>
			</if>
			
			<if test="userType != null ">
				<![CDATA[ user_type = #{userType}, ]]>
			</if>
			
			<if test="userName != null and userName != '' ">
				<![CDATA[ user_name = #{userName},]]>
			</if>
			<if test="sex != null">
				<![CDATA[ sex = #{sex},]]>
			</if>
			<if test="avatar != null and avatar != '' ">
				<![CDATA[ avatar = #{avatar},]]>
			</if>
			<if test="phone != null and phone != '' ">
				<![CDATA[ phone = #{phone},]]>
			</if>
			<if test="email != null and email != '' ">
				<![CDATA[ email = #{email},]]>
			</if>
			<if test="enable != null">
				<![CDATA[ enable = #{enable},]]>
			</if>
			
			<if test="remark != null and remark != '' ">
				<![CDATA[ remark = #{remark},]]>
			</if>
			
			<if test="updateBy != null and updateBy != '' ">
				<![CDATA[ update_by = #{updateBy},]]>
			</if>
			
			<if test="updateTime != null">
				<![CDATA[ update_time = #{updateTime},]]>
			</if>
		</trim>
		where id = #{id}
	</update>
	
	<update id="updateAllByPrimaryKey" parameterType="Object">
		update sys_user
		<trim prefix="set" suffixOverrides=",">
		    <if test="enable != null " >
		  	<![CDATA[  enable = #{enable}, ]]>
		    </if>
		    <if test="updateBy != null and updateBy != '' " >
		  	<![CDATA[  update_by = #{updateBy}, ]]>
		    </if>
		    <if test="updateTime != null " >
		  	<![CDATA[  update_time = #{updateTime}, ]]>
		    </if>
		</trim>
	    where id in
		<foreach item="id" index="index" collection="ids" open="(" separator="," close=")">
		    #{id }
		</foreach>
	</update>
	
	<sql id="whereSql">
		<where>
				1 = 1
			<if test="id != null">
				and id = #{id}
			</if>
			<if test="account != null and account != ''">
				and account = #{account}
			</if>
			<if test="password != null and password != ''">
				and password = #{password}
			</if>
			<if test="userType != null">
				and user_type = #{userType}
			</if>
			<if test="userName != null and userName != ''">
				and user_name like concat("%",concat(#{userName},"%"))
			</if>
			<if test="sex != null">
				and sex = #{sex}
			</if>
			<if test="avatar != null and avatar != ''">
				and avatar = #{avatar}
			</if>
			<if test="phone != null and phone != ''">
				and phone like concat("%",concat(#{phone},"%"))
			</if>
			<if test="email != null and email != ''">
				and email like concat("%",concat(#{email},"%"))
			</if>
		</where>
	</sql>
</mapper>