<!-- 数据字典标签：check：true显示全部，false不显示全部 -->
<#macro select_tag id name value text check>
<div class="form-group">
	<label class="col-sm-4 control-label">${text}</label>
	<div class="col-sm-8">
		<@tags target="sysDicTag" value="${value}"> 
		<select class="form-control" id="${id}" name="${name}">
			<#if "${check}"=="true">
				<option value="" selected>全部</option>
			</#if>
			<#list outTagName as dic>
				<option value="${dic.codeValue}">${dic.codeText}</option>
			</#list>
		</select> 
		</@tags>
	</div>
</div>
</#macro>

<#macro show_tag value code>
<@tags target="sysDicTag" value="${value}"> 
<#list outTagName as dic>
	<#if "${dic.codeValue}"=="${code}">
	${dic.codeText}
	</#if>
</#list>
</@tags>
</#macro>

<#macro select_group id name value text check>
<div class="form-group">
	<label class="col-sm-4 control-label">${text}</label>
	<div class="col-sm-8">
		<@tags target="taskGroupTag" value="${value}"> 
		<select class="form-control" id="${id}" name="${name}">
			<#if "${check}"=="true">
				<option value="" selected>全部</option>
			</#if>
			<#list outTagName as group>
				<option value="${group.id}">${group.groupName}</option>
			</#list>
		</select> 
		</@tags>
	</div>
</div>
</#macro>
