<!-- 数据字典标签：check：true显示全部，false不显示全部 -->
<#macro select_tag id name value text check>
<div class="form-group">
	<label class="col-sm-4 control-label">${text}</label>
	<div class="col-sm-8">
		<@tags type="sysDic" value="${value}"> 
		<select class="form-control" id="${id}" name="${name}">
			<#if "${check}"=="true">
				<option value="" selected>全部</option>
			</#if>
			<#list lists as dic>
				<option value="${dic.codeValue}">${dic.codeText}</option>
			</#list>
		</select> 
		</@tags>
	</div>
</div>
</#macro>

<#macro select_group id name value text check>
<div class="form-group">
	<label class="col-sm-4 control-label">${text}</label>
	<div class="col-sm-8">
		<@tags type="taskGroup" value="${value}"> 
		<select class="form-control" id="${id}" name="${name}">
			<#if "${check}"=="true">
				<option value="" selected>全部</option>
			</#if>
			<#list lists as group>
				<option value="${group.id}">${group.groupName}</option>
			</#list>
		</select> 
		</@tags>
	</div>
</div>
</#macro>
