<!-- 全局js -->
    <script src="${bathPath}/resources/assets/js/jquery.min.js?v=2.1.4"></script>
    <script src="${bathPath}/resources/assets/js/bootstrap.min.js?v=3.3.6"></script>
    <!-- 自定义js -->
    <script src="${bathPath}/resources/assets/js/content.js?v=1.0.0"></script>
	<!-- Bootstrap table -->
	<script src="${bathPath}/resources/assets/js/plugins/bootstrap-table/bootstrap-table.min.js"></script>
	<script src="${bathPath}/resources/assets/js/plugins/bootstrap-table/bootstrap-table-mobile.min.js"></script>
	<script src="${bathPath}/resources/assets/js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
	<!-- iCheck -->
    <script src="${bathPath}/resources/assets/js/plugins/iCheck/icheck.min.js"></script>
	<!-- Sweet alert -->
	<script src="${bathPath}/resources/assets/js/plugins/sweetalert/sweetalert.min.js"></script>
	 <!-- jQuery Validation plugin javascript-->
    <script src="${bathPath}/resources/assets/js/plugins/validate/jquery.validate.min.js"></script>
    <script src="${bathPath}/resources/assets/js/plugins/validate/messages_zh.min.js"></script>
    <!-- jsTree plugin javascript -->
    <script src="${bathPath}/resources/assets/js/plugins/jsTree/dist/jstree.min.js"></script>
    <!-- Bootstrap-Treeview plugin javascript -->
    <script src="${bathPath}/resources/assets/js/plugins/treeview/bootstrap-treeview.js"></script>	
    <!-- layerDate plugin javascript -->
    <script src="${bathPath}/resources/assets/js/plugins/layer/laydate/laydate.js"></script>
    <!-- 上传 --><!-- 
    <script src="${bathPath}/resources/assets/js/plugins/dropzone/dropzone.js"></script>
    <script src="${bathPath}/resources/assets/js/plugins/webuploader/webuploader.min.js"></script> -->
     <!-- Image cropper -->
    <script src="${bathPath}/resources/assets/js/plugins/cropper/cropper.min.js"></script>
	<script src="${bathPath}/resources/js/jquery.form.js"></script>
	<script src="${bathPath}/resources/js/base.js"></script>
	<script src="${bathPath}/resources/js/base-validator.js"></script>